body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("./images/bkground.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.drum-controls {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 25%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.control {
    display: inline-block;
    border-style: solid;
    border-color: white;
    margin: 0 15px;
    width: 75px;
    height: 75px;
}

h2 {
    color: white;
    margin: 0;
}

h5 {
    color: rgb(241, 218, 3);
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
}
